body {
  margin: 0;

  font-family: "Open Sans", sans-serif;

  background: linear-gradient(
    180deg,
    rgba(227, 255, 248, 0) 82.8%,
    rgba(227, 255, 248, 0.38) 100%
  );

  min-height: 100vh;
}

.page {
  width: 62rem;
  margin: 0 auto;

  padding-top: 4rem;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 3.4rem;
}
h2 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  color: #89c5cc;
}

ul {
  font-family: "Mulish", sans-serif;
  list-style: none;
  display: flex;
  gap: 3rem;

  margin: 0;
  padding: 0;
}

ul li a {
  color: #1f1534;
  opacity: 0.5;
}

ul li a:hover {
  color: #1f1534;
  opacity: 1;
  font-weight: bold;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h1 {
  font-family: "Mulish", sans-serif;
  font-weight: normal;
  font-size: 3rem;
}

span {
  color: #89c5cc;
  font-weight: bold;
}

p {
  font-family: "Open Sans", sans-serif;
  color: #7d7987;
  font-size: 1rem;
  line-height: 1.7rem;
  margin-bottom: 2.5rem;
}

strong {
  font-weight: bold;
}

button {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  color: white;

  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.6rem;

  background: #69b99d;
  padding: 0.8rem 2rem 0.8rem;
  border-radius: 0.3rem;
  border: 0;

  cursor: pointer;
}

button:hover {
  background: #55b694;
}

footer {
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  line-height: 1.7rem;

  text-align: center;
  margin-top: 5rem;
}

footer a {
  font-weight: bold;
  color: #1f1534;
}

#balls {
  position: fixed;
  bottom: 0;
  right: 0;
}
