* {
    margin: 0;
}

.page {
    width: 100%;
    margin: 4rem auto 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h2 {
    font-family: "Inter", sans-serif;
    font-weight: bold;
    color: #89C5CC;
}

ul {
    list-style: none;
    display: flex;
    gap: 3rem;
}
